* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    width: 500px;
    background-color: aqua;
    padding: 8px;
}

.child{
    width: 100%;
    background-color:bisque;
    padding: 8px;
}

.grand{
    width: 100%;
    background-color:blueviolet;
    padding: 8px;
}

.grand2{
    width: 100%;
    background-color:aqua;
    padding: 8px;
}